

* { box-sizing: border-box;
    padding: 0px;
    margin: 25px;
}

div#container {background-color: blue;
}

h1 {text-align: center;
    margin-bottom: 75px;
    margin-top: 75px;
    font-size: 1.75em ;
  }

p {float: left;
  height: 70px;
  width: 350px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: em;
}



#p1 {background-color: blue;
    float: left;
    position: relative;
    border: 1px solid black;

}

#p2 {background-color: blue;
    float: left;
    position: relative;
    border: 1px solid black;
}

#p3 {background-color: blue;
    float: left;
    position: relative;
    border: 1px solid black;

}


}


@media (min-width: 992px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}


<body>
